footer {
  margin: 4rem 0 0;
  padding: 2rem 0;
  width: 100%;
}

.site-footer,
footer a.back-to-top i {
  color: rgba(0,0,0,0.54);
}

// Dark footer theme
.dark .site-footer,
.dark footer a.back-to-top i,
.dark .docs .body-footer {
  color: rgba(255,255,255,0.54);
}

.featurette-icon {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 3rem;
  text-align: center;
}

.featurette-icon:hover {
  transform: scale(1.2);
}
